*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B191A;
    color: #000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.list {
    padding-top: 200px;
}

.list__cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.list__item {
    position: relative;    
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    width: 33.3333%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .list__item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .list__item {
        width: 100%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.card__image {
    position: relative;
}

.card__picture {
    display: block;
    border-radius: 8px 8px 0 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.card__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 8px 0px 0px;
    padding: 8px 16px;

    /* обрезка контента однострочная */
    white-space: nowrap;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__list-reward {
    position: absolute;
    top: 16px;
    right: 16px;
}

.card__item-reward {
    list-style-type: none;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__item-reward:last-child {
    margin-bottom: 0;
}

.card__profile {
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    /* align-items: flex-start; */
}

.card__description {
    font-size: 16px;
    line-height: 24px;
    color: #000; 
    padding-bottom: 24px;
    flex-grow: 1;
}

.button {
    /* стили кнопки-ссылки */
    display: inline-block;
    vertical-align: top;    
    color: #fff;
    background-color: rgba(140, 50, 255, 1);
    padding: 8px 16px;    
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    text-align: center;    
    font: 500 18px/24px Roboto, Arial, Helvetica, sans-serif;
    /* обрезание текста и троеточие */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__link {
  align-self: flex-start;
}

.list__cards--hor .list__item {
    width: 50%;
}

.list__cards--hor .card {
    flex-direction: row;
}

.list__cards--hor .card__image {
    width: 345px;
    min-width: 240px;
}

.list__cards--hor .card__picture {
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.list__cards--hor .card__title {
    border-radius: 0 8px 0 8px;
}

.list__cards--hor .card__profile {
    border-radius: 0 8px 8px 0;
}

@media (max-width: 1024px) {
    .list__cards--hor .list__item {
        width: 33.3333%;
    }
    
    .list__cards--hor .card {
        flex-direction: column;
    }
    
    .list__cards--hor .card__image {
        width: auto;
        min-width: auto;
    }
    
    .list__cards--hor .card__picture {
        height: 240px;
        border-radius: 8px 8px 0 0;
    }
    
    .list__cards--hor .card__title {
        border-radius: 0 8px 0 0;
    }
    
    .list__cards--hor .card__profile {
        border-radius: 0 0 8px 8px;
    }
}

@media (max-width: 768px) {
    .list__cards--hor .list__item {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .list__cards--hor .list__item {
        width: 100%;
    }
    
    .list__cards--hor .card {
        flex-direction: row;
    }
    
    .list__cards--hor .card__image {
        width: 345px;
        min-width: 200px;
    }
    
    .list__cards--hor .card__picture {
        height: 100%;
        border-radius: 8px 0 0 8px;
    }
    
    .list__cards--hor .card__title {
        border-radius: 0 8px 0 8px;
    }
    
    .list__cards--hor .card__profile {
        border-radius: 0 8px 8px 0;
    }
}

@media (max-width: 500px) {
    .list__cards--hor .list__item {
        width: 100%;
    }
    
    .list__cards--hor .card {
        flex-direction: column;
    }
    
    .list__cards--hor .card__image {
        width: auto;
        min-width: auto;
    }
    
    .list__cards--hor .card__picture {
        height: 240px;
        border-radius: 8px 8px 0 0;
    }
    
    .list__cards--hor .card__title {
        border-radius: 0 8px 0 0;
    }
    
    .list__cards--hor .card__profile {
        border-radius: 0 0 8px 8px;
    }
}